* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.process {
    position: fixed;
    width: 0px;
    height: 4px;
    border-radius: 1px;
    background-color: chocolate;
    cursor: pointer;
}

.box {
    height: 2000px;
}
